.rhymes-container {
  padding: 20px;
  padding-top: 80px; /* Add padding to prevent content from being cut off by the Navbar */
  text-align: center;
}

.rhyme-content {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Almendra SC', serif;
  color: #4b0082;
}

.rhyme-content h1, .rhyme-content h2, .rhyme-content h3 {
  color: #ff4500;
}

.rhyme-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.new-rhyme-button {
  margin-top: 20px;
  background-color: #ffd700;
  color: #4b0082;
  border: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.new-rhyme-button:hover {
  background-color: #ff4500;
  color: #fff;
}

.fun-input {
  border: 2px solid #ffd700;
  border-radius: 5px;
  font-family: 'Almendra SC', serif;
}

.gender-selection {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.gender-button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.gender-button:hover {
  background-color: #ffd700;
  color: #4b0082;
}